<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="learnSubjects.css">
</head>
<body>
    <div id="profile">
        <nav>
            <button class="sidebar">Home</button> <br>
            <button class="sidebar">Matches</button> <br>
            <button class="sidebar">Learn</button> <br>
            <button class="sidebar">Teach</button> <br>
            <button class="sidebar">My Profile</button> <br>
            <button class="sidebar">Settings</button> <br>
        </nav>
        <h2>Learn</h2><br>
        <div id="main">
            <div id="subjects">
                <h3>Subjects</h3>
                <div>
                    <img src="">
                    <input id="search" name= "search" type="text">
                </div>
               <button class="subject">subject</button><br>
                <button class="subject">subject</button>
            </div>
            <div id="results">
                <div class="user">
                    <div class="idPhoto">
                        <img src="">
                    </div>
                    <div class="info">
                        <h5>Name</h5>
                        <h5>concentration</h5>
                    </div>
                </div>
                <button class="request">Request</button>
                <div class="user">
                    <div class="idPhoto">
                        <img src="">
                    </div>
                    <div class ="info">
                        <h5>Name</h5>
                        <h5>concentration</h5>
                    </div>
                </div>
                <button class="request">Request</button>
            </div>

        </div>
    </div>

</body>
</html>