body {
    margin: 0;
    font-family: Quicksand;
    font-size: 1.75vw;
}

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
}


#main {
    grid-column: 2;
    margin-left: 4vw;
}

#profileTag {
    height: 15vw;
    width: 30vw;
    padding-left: 3vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    margin-left: 5vw;
    /*flex-wrap: wrap;*/
}

#picture {
    background-color: #4D7A97;
    float: right;
}

.sidebar:hover {
    background-color: #8c8c8c;
}

#interest {
    width: 70vw;
    height: 16vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: auto;
}

.interests {
    width: 55vw;
    height: 5vw;
    background-color: #bcc8e3;
    margin-left: 6vw;
    margin-top: 1vw;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.interestBtn {
    margin-left: 0;
    float: right;
    height: 3vw;
    width: 10vw;
    border-radius: .5vw;
    border: none;
    margin-top: 1vw;
    margin-right: 1vw;
}

.slider:hover {
    opacity: 1;
}


h2 {
    margin-left: 25vw;
    width: 15vw;
    height: 4vw;
}

#title {
    margin-left: 28vw;
    width: 15vw;
    height: 4vw;
    margin-bottom: 1vw;
}

h3, h4, h5 {
    margin: 0;
}

div#subjects {
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30vw;
    height: 15vw;
    align-content: center;
    margin-left: 3vw;
    overflow: auto;
}

.subject {
    border: none;
    border-radius: 1vw;
    width: 18vw;
    height: 2vw;
    margin-left: 4.5vw;
    margin-top: 1vw;
}

#search {
    width: 20vw;
    height: 2vw;
    margin-left: 4.5vw;
}

#side {
    display: flex;
}