body {
    margin: 0;
    font-family: Quicksand;
    font-size: 1.75vw;
}

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
}


#main {
    grid-column: 2;
    grid-row: 1;
    margin-top: 7vw;
    margin-left: 4vw;
}

#profileTag {
    height: 15vw;
    width: 30vw;
    padding-left: 3vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    margin-left: 5vw;
    /*flex-wrap: wrap;*/
}

.sidebar:hover {
    background-color: #8c8c8c;
}

#interestList {
    width: 70vw;
    height: 16vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.interests {
    width: 55vw;
    height: 5vw;
    background-color: #bcc8e3;
    margin-left: 6vw;
    margin-top: 1vw;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.interestBtn {
    margin-left: 0;
    /*position: fixed;*/
    float: right;
    height: 3vw;
    width: 10vw;
    border-radius: .5vw;
    border: none;
    margin-top: 1vw;
    margin-right: 1vw;
}

.slider:hover {
    opacity: 1;
}


h2 {
    margin-left: 25vw;
    width: 15vw;
    height: 4vw;
    grid-row: 1;
    grid-column: 2;
}

#title {
    margin-left: 28vw;
    width: 15vw;
    height: 4vw;
    margin-bottom: 1vw;
}

h3, h4, h5 {
    margin: 0;
}

#searchTitle {
    margin-left: 2vw;
}

div#subjects {
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30vw;
    height: 15vw;
    align-content: center;
    margin-left: 3vw;
}


#subjects-list {
    overflow-y: scroll;
    height: 65%;
    text-align: center;
}

.subject {
    border: none;
    border-radius: 1vw;
    width: 18vw;
    height: 2vw;
    margin-top: 10px;
}

#search {
    width: 20vw;
    height: 2vw;
    margin-left: 4.5vw;
}

#search-bar{
    font-family: Quicksand;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2vh;
    width: 15vw;
    border-radius: 1vw;
    border: 10px solid white;
    vertical-align: center;
}

#subjects-header {
    text-align: center;
}

#side {
    display: flex;
}

.remove {
    background-color: #FFE0A4;
    color: #C97800;
    width: 5vw;
    height: 1.25vw;
    border-radius: 1vw;
    margin-left: 1vw;
    margin-top: .5vw;
}

#nameButton {
    height: 3vw;
}

.edit {
    background-color: #FFE0A4;
    color: #C97800;
    width: 10vw;
    height: 1.5vw;
    border-radius: 1vw;
    margin-left: 1vw;
    margin-top: .5vw;
}

#picture {
    width: 12vw;
    height: 13vw;
    margin-left: 4vw;
    padding-top: 1vw;
    float: right;
    border-radius: 1vw;
}

#picDiv {
    width: 15vw;
    height: 15vw;
    border-radius: 1vw;
}