body {
    margin: 0;
    font-family: Quicksand;
    font-size: 1.75vw;
}


#main {
    display: flex;
    margin-top: 7vw;
    grid-column: 2;
    grid-row: 1;
}

.options, #popup {
    height: 35vw;
    width: 30vw;
    margin-left: 5vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#login {
    height: 15vw;
    width: 30vw;
    margin-left: 5vw;
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button#match-button.settings {
    width: 15vw;
    height: 4vw;
    border-radius: 1vw;
    margin-left: 7vw;
    margin-top: 3.5vw;
    border: none;
}

button#match-button.settings:hover {
    background-color: #e2c651;
}

#picture {
    background-color: #4D7A97;
}

.sidebar:hover {
    background-color: #8c8c8c;
}

#save {
    border: none;
    float: bottom;
}

#name {
    grid-column: 1;
    grid-row: 1;
}

h2 {
    margin-left: 25vw;
    width: 15vw;
    height: 4vw;
    grid-row: 1;
    grid-column: 2;
}
