body {
    margin: 0;
    font-family: Quicksand;
    font-size: 1.75vw;
}

#profile {
    display: grid;
    grid-template-columns: 250px 1fr;
}

nav {
    grid-column: 1;
    height: 100%;
    width: 15vw;
    position: absolute;
    background-color: #DBDBDB;
    float: left;
}

.sidebar {
    border: none;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    /*height: 100%;*/
    margin-top: 1.5vw;
    width: 15vw;
    /*position: absolute;*/
    background-color: #d77373;
}


#main {
    display: flex;
    grid-column: 2;
}

#picture {
    background-color: #4D7A97;
}

input {
    height: 2vw;
    width: 10vw;
    border-radius: 1vw;
    border: none;
    background-color: #d6d6d6;
    vertical-align: text-top;
}

.sidebar:hover {
    background-color: #8c8c8c;
}

h2 {
    margin-left: 25vw;
    width: 15vw;
    height: 4vw;
}

#subjects {
    background-color: #bac5cf;
    border-radius: 1vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30vw;
    height: 35vw;
    align-content: center;
    margin-left: 3vw;
}

#match-button.subject {
    border: none;
    border-radius: 1vw;
    width: 18vw;
    height: 3vw;
    margin-left: 4.5vw;
    margin-top: 1vw;
}

#search {
    width: 20vw;
    height: 3vw;
    margin-left: 3vw;
}

#options {
    height: 25vw;
    width: 26vw;
}

#results {
    width: 20vw;
    height: 35vw;
    margin-left: 3vw;
    background-color: #007a99;
}

.user {
    background-color: #696367;
    height: 8vw;
    display: flex;
}

#request {
    border: none;
    border-radius: 1vw;
    width: 10vw;
    height: 2vw;
    float: right;
}

#request {
    /*display: none;*/
    flex: none;
}

h3 {
    margin-left: 3vw;
}

#idPhoto {
    width: 8vw;
    height: 8vw;
    background-color: beige;
}

h5 {
    margin: 0;
    margin-top: .75vw;
}